<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  ng-app="sms_app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Students Managment System</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    <link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">

</head>
<body>
    <div id="wrapper">
           <!-- NAV TOP  -->
                <%- include layouts/header.ejs %>
                 <%- include layouts/sidebar.ejs %> 
        <!--  NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>Dashboard</h2>   
                        <h5>Welcome Wael , it's nice to see you again. </h5>
                       <%- include /all_users.ejs %>
                       <%- include /edit_user.ejs %>
                       <%- include /add_user.ejs %>
                       <%- include /del_user.ejs %>
                       <%- include layouts/userCheckBox.ejs %> 
                    </div>
                </div><!--ROW-->
                 <hr />
            </div><!--PAGE INNER-->
        </div><!--PAGE WRAPPER-->
        </div><!--WRAPPER-->
     
    <!-- SCRIPTS AT THE BOTOM TO REDUCE THE LOAD TIME
         AND I WILL INSTALL THEM AS DEPENDENCIES LATER-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.8/angular-route.min.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="js/smsapp.js"></script>
    <script src="./js/js.js"></script>
    <script src="./js/dirPagination.js"></script>
    
    
   
</body>
</html>
